.add-container{
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    align-items: center;
}
.add_text{
    width: 1100px;
    margin: 0 auto;
}
.add_back{
    margin-left: 80%;
}
.all_course{
    display: flex;
    margin-top: 70px;
}
.enroll-btn{
    padding: 12px 25px;
    width: 100%;
    margin: auto;
    border: none;
    background-color: #f66962;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    margin-bottom: 0rem;
    margin-top: 10px;
}
.detail-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 1170px;
}
 .detail_image{
    max-width: 70%;
    width: 50%;
 }
 .detail_images{
  width: 100%;

 }
 .pay{
    width: 100%;
    max-width: 370px;
    border: 2px solid #d9d9d9;
    border-radius: 10px;
    padding: 20px;
 }
.detail_title{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}
#department{
    border: 2px solid #B4A7F5;
    border-radius: 5px;
    min-height: 50px;
    padding: 6px 15px;
    width: 100%;
    font-weight: 500;
    outline: none;
    color: #685F78;
}
.com_show{
    display: flex;
  width: 1170px;
  max-width: 100%;
  margin: 10px auto;
}
.comment_section {
    width:770px;
    max-width:100%;
}
.cour_head{
    display:flex;
}
.cour_icon{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 80%;
}
.text_card{
    text-align: justify;
    max-width: 85%;
    font-size: 17px;
    margin-top: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
      color: #685F78;
}
.pay_cour{
    max-width: 320px;
    width: 100%;
}
.card_feee{
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 0.75px;
    color: #f66962;
    margin-top: 12px;  
}
@media (max-width: 1200px) {
    .detail-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    max-width: 950px;
}
.com_head {
    width: 950px;
}
    .com_show {
        width: 950px;
    }
}
@media (max-width: 768px){
   .add-container {
    padding: 30px;
} 
.detail-container {
    max-width: 730px;
}
.pay {
    width: 89%;
  }
  .com_show{
  width: 730px;
}
.com_head{
    width: 730px;
  }
  .text_card {
    max-width: 110%;
  }
.comment_section {
    width:500px;
}
}
@media (max-width: 576px) {
    .add-container{
        
        padding: 20px;
      }
      .com{
        display: flex;
        justify-content: center;
      }
      .com_head {
        width: 300px;
        justify-content: center;
        display: flex;
    }
    .comment_section {
        width: 300px;

        margin-left: auto;
        margin-right: auto;
    }
      .cour_head{
        display: block;
    }
    .detail_title {
        font-size: 28px;
    }
    .comment_course {
        width: 300px;
    }
    .cour_icon{
     flex-wrap: wrap;
    }
    .text_card{
        margin-left: 4px;
        max-width: 90%;
    }
    .detail-container {
        max-width: 300px;
    }
    .pay_cour{
      margin-top: 20px;
        
    }
    .card_feee{
        font-size: 22px;
    }
}
