.signup-container{
    height: 100vh;
    display: flex;
    align-items: center; 
}
.signUp {
    padding: 50px;
    background-image: url("img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 50%;
    position: fixed;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
  }
.signUp_img img{
    width: 40%;
    margin: auto;
    margin-top: 100px;
    margin-left:30%;
    display: block;
}
.in_text{
    font-size: 30px;
    font-weight: 500;
    margin: 40px 0px 20px;
}
.input_field{
    margin-bottom: 1rem;
}
.sign_text {
    padding: 50px;
    margin-left: 50%;
    height: 100vh;
    overflow-y: auto;
    width: 50%;
  }
.control-label{
    margin-bottom: 15px;
    width: 100%;
    color: #685F78;
    font-weight: 500;
}
.input{
    border: 2px solid #B4A7F5;
    border-radius: 5px;
    min-height: 50px;
    padding: 6px 15px;
    width: 100%;
    font-weight: 500;
    outline: none;
    color: #685F78;
}
.choose{
    border: 2px solid #B4A7F5;
    border-radius: 5px;
    min-height: 50px;
    padding: 6px 15px;
    width: 100%;
    font-weight: 500;
    color: #685F78;
    margin-bottom: 20px;
}
.submit-btn{
    padding: 15px 25px;
    width:100%;
    margin: auto;
    border: none;
    background-color: #f66962;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    margin-bottom: 3rem;
    margin-top: 25px;
}    
.content_in{
    text-align: center;
}
.back_home{
    color:#685F78;
    margin-left: 50%;
}

@media (max-width: 576px) {
    .signup-container {
      flex-direction: column;
      height: auto;
      background-size: cover;
    }
  
    .signUp {
      position: relative;
      width: 100%;
      padding: 20px;
    }
    .signUp_img{
    display: flex;
  }
    .signUp_img img {
      width: 80%; 
      margin: 10px auto;
    }
  
    .in_text {
      font-size: 24px;
      text-align: center;
      margin: 10px 0;
    }
  
    .sign_text {
      width: 100%;
      margin: 0;
      padding: 20px;
    }
  
    .back_home {
      margin-top: 10px;
      display: block;
      margin-right: -4px;
      font-size: 14px;
    }
  
    .title {
      font-size: 28px; 
      text-align: center;
      margin-top: 20px !important;
    }
  
    .control-label {
      font-size: 14px; 
    }
  
    .input, .choose {
      min-height: 45px;
      font-size: 16px; 
    }
  
    .submit-btn {
      font-size: 18px; 
      padding: 12px 20px;
      margin-bottom: 1rem;
      margin-top: 15px;
    }
  
    .content_in {
      font-size: 14px; 
    }
  }