body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, rgba(254, 224, 221, 1) 20%, rgba(228, 245, 254, 1) 35%);
}

.navbar-brand {
  margin-left: 20px;
}

.full_nav {
  font-size: 18px;
  font-weight: 500;
}

.header_nav {
  margin-left: auto;
}

.header_nav .nav-link:hover {
  color: #f66962;
}

.header_sign {
  min-width: 120px;
  padding: 10px 15px;
  background: rgb(241 241 241 / 42%);
  border-radius: 46.9159px;
  text-align: center;
}

.inout {
  margin-left: 20px;
}

.in_out:hover {
  background-color: #f66962;
  color: white;
  border: none;
}

.logOut {
  cursor: pointer;
}

.header_log {
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  color: #392C7D;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 120px;
  border: 2px solid #B4A7F5;
  padding: 10px 15px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f66962;
}

.x {
  color: #685F78;
}

/* Banner */
.banner-container {
  background-image: url("img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: 20px;
}

/* .banner_right img {
  margin-left: 40px;
} */

.banner_left {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.banner_content {
  margin-left: 40px;
}

.banner_left p {
  font-size: 20px;
  color: #685F78;
}

.banner_left h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

/* Course list */
#courses {
  margin: 40px auto 0;
  padding: 0 20px;
}

.nodata{
  display: none;
}
.clock{
  width: 30px;
    height: 30px;
    min-width: 30px;
    border: 1px solid #dadada;
    color: #78755f;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pro{
  width: 25px;
  height: 25px;
  min-width: 25px;
  border: 1px solid #f66962;
  color: #f66962;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.en:hover{
  color:  #685F78;
}
.enroll_btn:hover{
  color:  #685F78;
}
.en{
  color: #f66962; 
  font-size: 22px;
    font-weight: 500;

   
    
}
.enroll_btn{
  margin-left: 6px;
    text-decoration: none;
    color: #f66962; 
}
.lesson{
  grid-column-gap: 10px;
    color:  #685F78;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    display: flex;
}
.lesson1{
  grid-column-gap: 10px;
    color: #685F78;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}
.a{
    text-decoration: none;
    color: #f66962;
    min-height: 30px;
    border: 1px solid #f66962;
    padding: 7px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.card-subtitle{
  color: #f66962;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card_de{
  color: #f66962;
  width: 30px;
  height:30px;
  border: 1px solid #f66962;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}


.course-container h1{
  margin-bottom: 10px;
}

.de{
  color: #f5f5f5;
  min-width: 30px;
  min-height:30px;
  /* border: 1px solid #f66962; */
  background-color: #f66962;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* Events */
.event-container {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto 0;
  padding: 20px;
}

.event_date p {
  color: #685F78;
  font-size: 20px;
}

.event_date h2 {
  color: #f66962;
  font-size: 36px;
  font-weight: 500;
}

.event_text p {
  color: #685F78;
  font-size: 16px;
  word-spacing: 2px;
}

/* Feature */
.feature-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.feature,
.feature1 {
  border-radius: 8px;
  padding: 20px;
}

.feature img,
.feature1 img {
  width: 100%;
  margin-top: -30px;
}
.feature1{
  background: #FFE88F;
  border-radius: 8px;
  
}
.feature{
  background: #FFDEDA;
  border-radius: 8px;
  
}
.feature h4,
.feature1 h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #392C7D;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
}
.comment_course{
  width: 770px;
background-color: white;
padding: 40px;
border-radius: 10px;
border: 1px solid #dddada;
box-shadow: 2px 2px 4px rgb(207, 207, 207);
}
.contact_container{

    width: 850px;
    background-color: white;
    padding: 33px;
    border: 1px solid #dddada;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(207, 207, 207);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}
.img_info{
  width: 85%;
  margin-left: 85px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(207, 207, 207);
  border: 1px solid #dddada;
  background-color: white;
}
.info_con{
  gap: 10px;
  margin: 35px;
}
.bio{
  width: 1200px;
margin-left: auto;
margin-right: auto;
}
.com{
  width: 730px;
  max-width: 100%;
  display: flex;
  margin: auto;
}
.com_head{
  width: 1170px;display: flex;margin: auto;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
/* Footer */
.footer {

  margin: auto;
  margin-top: 100px;
  padding: 40px;
   
 }
 .footer-col .links {
   margin-top: 20px;
 }
 .footer-col .links li {
   list-style: none;
   margin-bottom: 10px;
 }
 .footer-col p {
   color: #685F78;
 }
 .footer-col .links li a {
   text-decoration: none;
   color: #685F78;
 }
 .footer-col .links li a:hover {
   color: #f66962;
 }
 .footer-col form {
   display: flex;
   gap: 5px;
 }
 .footer-col input {
   height: 40px;
   border-radius: 6px;
   background: none;
   width: 100%;
   outline: none;
   border: 1px solid #B4A7F5 ;
   color: #685F78;
   padding-left: 10px;
 }
 .footer-col input::placeholder {
   color: #685F78;
 }
  .footer-col form button {
   outline: none;
   border: none;
   padding: 10px 15px;
   border-radius: 6px;
   cursor: pointer;
   font-weight: 500;
   background: #f66962;
   
 }
 .footer-col form button:hover {
   color: white;
 }
 .footer-col .icons {
   display: flex;
   margin-top: 30px;
   gap: 30px;
   cursor: pointer;
 }
 .footer-col .icons i {
   color: #685F78;
   font-size: 20px;
 }
 .footer-col .icons :hover  {
   color: #f66962;
  
 }
 .loc_p{
  font-size: 20px;
 }
.loc_h4{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .header_nav {
      margin-left: 0;
  }
  .navv{
    margin-left: 190px;
}
.banner_right img {
  width: 85%;
}
.inout {
  margin-left: 30px;
}

  .banner_content {
      margin-left: 20px;
  }

  .feature-container {
      margin: 20px auto;
  }
  .bio {
    width: 950px;
  }
  .footer {
      padding: 20px;
  }
}

@media (max-width: 992px) {
  .navv{
    margin-left: 190px;
}

  .banner_left h1 {
      font-size: 36px;
  }
  .banner_left p {
    font-size: 15px;
}
.banner_content{
  text-align: center;
}
  .banner_right img {
      width: 80%;
      margin-left: 0;
  }

  .event-container {
      padding: 25px;
  }

  .feature-container {
      padding: 10px;
  }
  
}

@media (max-width: 768px) {
  .header_sign, .header_log {
      font-size: 14px;
      min-width: 100px;
      padding: 8px 12px;
  }

  .navbar-brand {
      margin-left: 10px;
  }

  .banner_left h1 {
    font-size: 36px;
}
.banner_left p {
  font-size: 15px;
}
.bio {
  width: 700px;
}
  .feature img,
  .feature1 img {
      margin-top: 0;
  }
  .contact_container{
    width: 600px;
    padding: 18px;
  }
  .comment_course {
    width: 500px;
  }
  .header_nav{
    margin-bottom: 10px;
  }
  .im_in{
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .img_info{
    margin-left: 50px;
  }
  .info{
    margin-left: 120px;
    margin-top: 20px;
  }
  .info_con{
    margin: 0px;
  }
  
}

@media (max-width: 576px){
  .header_nav{
    margin-bottom: 10px;
  }
  .banner-container {
      padding: 10px;
  }

  .banner_left h1 {
      font-size: 24px;
  }
  .en {
    font-size: 20px;
}
.bio{
  width: 320px;
  display: flex;
  justify-content: center;

}
.bio p{
  font-size: 16px !important;
}
.bio h2{
  font-size: 22px !important;
}
.im_in {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.nodataa{
  width: 80%;
}
.img_info {
  margin-left: 26px;
}
.info{
  display: contents;
}
.loc_h4{
  font-size: 18px;
}
.loc_p{
  font-size: 13px;
}
.info_con{
  margin-top: 18px;
  margin-left: 42px;

}
.pro {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.lesson1 {
  font-size: 10px;
}
.lesson1 span{
  font-size: 15px !important;
}
.contact_container {
  width: 300px;
}
  .feature h4,
  .feature1 h4 {
      font-size: 20px;
  }

  .feature img,
  .feature1 img {
      margin-top: -20px;
  }
.ins{
  margin-top: 25px;
}
  .footer {
      padding: 10px;
      margin-top: 75px;
  }
}
