body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

/* Navbar */
.navbar {
  background: linear-gradient(90deg, rgba(254, 224, 221, 1) 20%, rgba(228, 245, 254, 1) 35%);
}

.navbar-brand {
  margin-left: 20px;
}

.full_nav {
  font-size: 18px;
  font-weight: 500;
}

.header_nav {
  margin-left: auto;
}

.header_nav .nav-link:hover {
  color: #f66962;
}

.header_sign {
  min-width: 120px;
  padding: 10px 15px;
  background: rgb(241 241 241 / 42%);
  border-radius: 46.9159px;
  text-align: center;
}

.inout {
  margin-left: 20px;
}

.in_out:hover {
  background-color: #f66962;
  color: white;
  border: none;
}

.logOut {
  cursor: pointer;
}

.header_log {
  border-radius: 50px;
  text-align: center;
  font-size: 16px;
  color: #392C7D;
  text-transform: capitalize;
  font-weight: 500;
  min-width: 120px;
  border: 2px solid #B4A7F5;
  padding: 10px 15px;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f66962;
}

.x {
  color: #685F78;
}

/* Banner */
.banner-container {
  background-image: url("img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: 20px;
  min-height: 400px;
}



.banner_left {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
}

.banner_content {
  margin-left: 40px;
}

.banner_left p {
  font-size: 20px;
  color: #685F78;
}

.banner_left h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

/* Course list */
#courses {
  margin: 40px auto 0;
  padding: 0 20px;
}

.nodata{
  display: none;
}
.clock{
  width: 30px;
    height: 30px;
    min-width: 30px;
    border: 1px solid #dadada;
    color: #78755f;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.pro{
  width: 25px;
  height: 25px;
  min-width: 25px;
  border: 1px solid #f66962;
  color: #f66962;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.en:hover{
  color:  #685F78;
}
.enroll_btn:hover{
  color:  #685F78;
}
.en{
  color: #f66962; 
  font-size: 22px;
    font-weight: 500;

   
    
}
.enroll_btn{
  margin-left: 6px;
    text-decoration: none;
    color: #f66962; 
}
.lesson{
  grid-column-gap: 10px;
    color:  #685F78;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
    display: flex;
}
.lesson1{
  grid-column-gap: 10px;
    color: #685F78;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    display: flex;
}
.a{
    text-decoration: none;
    color: #f66962;
    min-height: 30px;
    border: 1px solid #f66962;
    padding: 7px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.card-subtitle{
  color: #f66962;
  margin-bottom: 15px;
  margin-top: 15px;
}
.card_de{
  color: #f66962;
  width: 30px;
  height:30px;
  border: 1px solid #f66962;
  padding: 5px;
  border-radius: 3px;
  font-size: 14px;
}


.course-container h1{
  margin-bottom: 10px;
}

.de{
  color: #f5f5f5;
  min-width: 30px;
  min-height:30px;
  background-color: #f66962;
  padding: 5px;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 10px;
}
.col_img{
   width: 50%;
}
.swiffy-slider .slider-container {
    gap: 5px; 
}



/* new */
.new{
  border: 1px #e3e3e3 solid;
    padding: 12px;
    border-radius: 15px;
}
.column-gap{
  margin-bottom: 20px;
}
.get-certified {
  margin-bottom: 0;
  color: #685f78;
  font-size: 14px;
  margin-left: 15px;
  font-weight: 500;
}
.certified {
  color: #685f78;
 
}
.master{
  font-size: 38px;
}
.what{
  color: #f66962;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.img-certified{
  width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.unlimit_bg{
  background: linear-gradient(90deg, rgba(254, 224, 221, 1) 20%, rgba(228, 245, 254, 1) 35%);
}
.un_bg{
  width: 65px;
    height:65px;
    background-color: white;
    border-radius: 6px;
    justify-content: center;
}
.unlimit{
  width: 65px;
  padding: 5px;
}
/* count */
.stats-container {
  display: flex;
  gap: 30px;
    justify-content: center;
    margin-top: 50px;
}


.review{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.count {
  font-size: 3rem;
  color: #f66962;
  transition: all 0.5s ease-in-out;
}
/* Events */
.event-container {
  width: 100%;
  max-width: 1100px;
  margin: 40px auto 0;
  padding: 20px;
}

.event_date p {
  color: #685F78;
  font-size: 20px;
}

.event_date h2 {
  color: #f66962;
  font-size: 36px;
  font-weight: 500;
}

.event_text p {
  color: #685F78;
  font-size: 16px;
  word-spacing: 2px;
}

/* Feature */
.feature-container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}

.feature,
.feature1 {
  border-radius: 8px;
  padding: 20px;
}

.feature img,
.feature1 img {
  width: 100%;
  margin-top: -30px;
}
.feature1{
  background: #FFE88F;
  border-radius: 8px;
  
}
.feature{
  background: #FFDEDA;
  border-radius: 8px;
  
}
.feature h4,
.feature1 h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #392C7D;
  font-size: 24px;
  font-weight: 600;
  word-spacing: 2px;
}
.comment_course{
  width: 770px;
background-color: white;
padding: 40px;
border-radius: 10px;
border: 1px solid #dddada;
box-shadow: 2px 2px 4px rgb(207, 207, 207);
}
.contact_container{

    width: 850px;
    background-color: white;
    padding: 33px;
    border: 1px solid #dddada;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(207, 207, 207);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

}
.img_info{
  width: 85%;
  margin-left: 85px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px rgb(207, 207, 207);
  border: 1px solid #dddada;
  background-color: white;
}
.info_con{
  gap: 10px;
  margin: 35px;
}
.bio{
  width: 1200px;
margin-left: auto;
margin-right: auto;
}
.com{
  width: 730px;
  max-width: 100%;
  display: flex;
  margin: auto;
}
.com_head{
  width: 1170px;display: flex;margin: auto;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
.loading-spinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: white;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.widget-content {
  padding: 1rem;
  flex-direction: row;
  align-items: center;
  height: 100px;
}
.widget-content .widget-content-wrapper {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  gap: 130px;
}
.mar{
  gap: 330px !important;
}
.widget-content .widget-content-left .widget-heading {
  opacity: .8;
  font-weight: 700;
}
.widget-content .widget-content-left .widget-subheading {
  opacity: .5;
}
.bg-midnight-bloom {
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%) !important;
}
.bg-arielle-smile {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}
.bg-grow-early {
  background-image: linear-gradient(to top, #a48dda 0%, #d599c4 100%) !important;
}
#loading-spinner-map {
  display: none;  
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid black;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 100px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* Footer */
.footer {

  margin: auto;
  margin-top: 35px;
  padding: 40px;
   
 }
 .footer-col .links {
   margin-top: 20px;
 }
 .footer-col .links li {
   list-style: none;
   margin-bottom: 10px;
 }
 .footer-col p {
   color: #685F78;
 }
 .footer-col .links li a {
   text-decoration: none;
   color: #685F78;
 }
 .footer-col .links li a:hover {
   color: #f66962;
 }
 .footer-col form {
   display: flex;
   gap: 5px;
 }
 .footer-col input {
   height: 40px;
   border-radius: 6px;
   background: none;
   width: 100%;
   outline: none;
   border: 1px solid #B4A7F5 ;
   color: #685F78;
   padding-left: 10px;
 }
 .footer-col input::placeholder {
   color: #685F78;
 }
  .footer-col form button {
   outline: none;
   border: none;
   padding: 10px 15px;
   border-radius: 6px;
   cursor: pointer;
   font-weight: 500;
   background: #f66962;
   
 }
 .footer-col form button:hover {
   color: white;
 }
 .footer-col .icons {
   display: flex;
   margin-top: 30px;
   gap: 30px;
   cursor: pointer;
 }
 .footer-col .icons i {
   color: #685F78;
   font-size: 20px;
 }
 .footer-col .icons :hover  {
   color: #f66962;
  
 }
 .loc_p{
  font-size: 20px;
 }
.loc_h4{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 15px;
}
/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .header_nav {
      margin-left: 0;
  }
  .navv{
    margin-left: 190px;
}
.banner_right img {
  min-height: 250px !important;
}
.inout {
  margin-left: 30px;
}

  .banner_content {
      margin-left: 20px;
  }

  .feature-container {
      margin: 20px auto;
  }
  .bio {
    width: 950px;
  }
  .footer {
      padding: 20px;
  }
}

@media (max-width: 992px) {
  .navv{
    margin-left: 190px;
}

  .banner_left h1 {
      font-size: 36px;
  }
  .banner_left p {
    font-size: 15px;
}
.banner_content{
  text-align: center;
}
.banner_right img {
  min-height: 250px !important;
}
.col_img{
  width: 50% !important;
}
  .event-container {
      padding: 25px;
  }
.mar{
  gap: 100px !important;
}
.name h3{
  font-size: 20px !important;
}
.name i{
  margin-top: 3px !important;
}
  .feature-container {
      padding: 10px;
  }
  .new_img img{
    margin: auto !important;
    margin-top: 15px !important;
    display: flex !important;
    width: 70% !important;
   
  }
  #courses {
    margin: 0px auto 0 !important;
  }
  .top-course{
    margin-top: 10px !important; 
  }
  .master {
    font-size: 25px;
        margin-top: 10px;
        margin-bottom: 20px;
}
.event-container {
  margin: -10px auto 0;
}
.un_bg{
  margin-top: 10px
}
.stats-container {
  display: grid;
  gap: 16px;
    justify-content: center;
    margin-top: 20px;
}
}
@media (max-width: 768px) {
  .header_sign, .header_log {
      font-size: 14px;
      min-width: 100px;
      padding: 8px 12px;
  }

  .navbar-brand {
      margin-left: 10px;
  }
  .banner_right img {
    min-height: 250px !important;
  }
  .banner_left h1 {
    font-size: 36px;
}
.banner_left p {
  font-size: 15px;
}
.bio {
  width: 700px;
}
  .feature img,
  .feature1 img {
      margin-top: 0;
  }
  .contact_container{
    width: 600px;
    padding: 18px;
  }
  .comment_course {
    width: 500px;
  }
  .header_nav{
    margin-bottom: 10px;
  }
  .col_img{
    width: 45% !important;
  }
  .swiffy-slider .slider-container {
    gap: 15px !important;
    display: flex !important;
}
.slider-nav{
  display: none;
}
  .im_in{
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  .img_info{
    margin-left: 50px;
  }
  .info{
    margin-left: 120px;
    margin-top: 20px;
  }
  .info_con{
    margin: 0px;
  }
  
}

@media (max-width: 576px){
  .header_nav{
    margin-bottom: 10px;
  }
  .banner-container {
      padding: 10px;
  }

  .banner_left h1 {
      font-size: 24px;
  }
  .en {
    font-size: 20px;
}
.col_img{
  width: 50% !important;
}
.banner_right img {
  min-height: 250px !important;
}
.bio{
  width: 320px;
  display: flex;
  justify-content: center;

}
.bio p{
  font-size: 16px !important;
}
.bio h2{
  font-size: 22px !important;
}
.im_in {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.nodataa{
  width: 80%;
}
.img_info {
  margin-left: 26px;
}
.info{
  display: contents;
}
.loc_h4{
  font-size: 18px;
}
.loc_p{
  font-size: 13px;
}
.info_con{
  margin-top: 18px;
  margin-left: 42px;

}
.inout {
  margin-left: 3px;
}
.navv {
  margin-left: 10px;
}
.pro {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
.lesson1 {
  font-size: 10px;
}
.lesson1 span{
  font-size: 15px !important;
}
.contact_container {
  width: 300px;
}
  .feature h4,
  .feature1 h4 {
      font-size: 20px;
  }

  .feature img,
  .feature1 img {
      margin-top: -20px;
  }
.ins{
  margin-top: 25px;
}


.slick-slide{
  margin: 0 20px;
}
.slick-slide img{
  width: 100%;
}
.slick-slider{
  position: relative;
  display: block;
  box-sizing: border-box;
}
.slick-list{
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-track{
  position: relative;
  top: 0;
  left: 0;
  display: block
}
.slick-slide{
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img{
  display: block;
}
.slick-initialized .slick-slide{
  display: block;
}

  .footer {
      padding: 10px;
      margin-top: 75px;
  }
}
